@import "../../assets/master.scss";

.card-form {
  width: 50%;
  background-color: $white;
  padding: 2.5em;
  font-family: $primary-font;
}

.card-form__title {
  color: $old-navy;
  font-weight: 800;
  font-size: 2em;
}

@media screen and (max-width: 760px) {
  .card-form  {
    width: 100%;
  }
}
