.card-form {
  width: 50%;
  background-color: #fff;
  padding: 2.5em;
  font-family: 'Merriweather Sans', sans-serif;
}

.card-form__title {
  color: #2c3e50;
  font-weight: 800;
  font-size: 2em;
}

@media screen and (max-width: 760px) {
  .card-form  {
    width: 100%;
  }
}
