.card-preview {
  width: 50%;
  height: 100%;
  background-color: #e1e4e7;
  font-family: 'Merriweather', serif;
  cursor: default;
}

.card-preview__content {
  margin: 7em 3.5em 7em 3.5em;
}

.card-preview {
  .p-name {
    margin-top: -4em;
    color: #fff;
    font-size: 2em;
    min-height: 2em;
  }
}

.card-preview__title {
  font-family: 'Merriweather Sans', sans-serif;
  color: #b0b8bc;
  font-size: 1.2em;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.card-preview__card-frame {
  background: #fff;
  height: 25em;
  border-bottom: 3px solid #9a9a9a;
}

.card-preview__color-block {
  background: #2c3e50;
  height: 8em;
  z-index: -1;
}

.u-email, .p-tel, .p-street-address, .p-locality, .p-postal-code, .p-country-name {
  padding-top: 1.4em;
  border-bottom: 1px solid #dbe0e2;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #34495e;
  min-height: 3em;
  vertical-align: baseline;
}

.label {
  min-width: 20%;
  float: left;
}

.formOutput {
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  text-transform: none;
  padding-left: 2em;
}

.h-card {
  padding: 4.5em 2em 2em 2em;
}

@media screen and (max-width: 760px) {
  .card-preview  {
    width: 100%;
  }
}
