.card-preview {
  width: 50%;
  height: 100%;
  background-color: #e1e4e7;
  font-family: 'Merriweather', serif;
  cursor: default;
}

.card-preview__content {
  margin: 7em 3.5em 7em 3.5em;
}

.card-preview {
  .p-name {
    margin-top: -4em;
    color: #fff;
    font-size: 2em;
    min-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-preview__title {
  font-family: 'Merriweather Sans', sans-serif;
  color: #b0b8bc;
  font-size: 1.2em;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.card-preview__card-frame {
  background: #fff;
  height: 25em;
  border-bottom: 3px solid #9a9a9a;
}

.card-preview__color-block {
  background: #2c3e50;
  height: 8em;
  z-index: -1;
}

.card-preview__avatar {
  position:absolute;
  width: 6em;
  height: 8em;
  border-bottom: 2px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  background: #fff;
  margin-top: -11.25em;
  right: 5em;
}

.u-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.card-preview__row {
  padding-top: 1.4em;
  border-bottom: 1px solid #dbe0e2;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #34495e;
  min-height: 3em;
  vertical-align: baseline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  display:inline-block;
  width: 50%;
}

.half {
  width: 50%;
  display: inline-block;
}

.label {
  display:inline-block;
  min-width: 6em;
}

.p-locality {
  margin-left: 0.25em;
}

.formOutput {
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  text-transform: none;
  padding-left: 0.5em;
}

.h-card {
  padding: 4.5em 2em 2em 2em;
}

@media screen and (max-width: 760px) {
  .card-preview  {
    width: 100%;
  }
}
