@import "../../../assets/master.scss";

.form {
  @include block;

  width: 100%;
}

.form label {
  @include inline-block;

  color: $old-navy;
  text-transform: uppercase;
  width: 50%;
  padding-bottom: 0.75em;
}

.form fieldset {
  border: 0;
}

.form legend {
  @include cursor-default;

  width: 100%;
  border-bottom: 1px solid $grey;
  padding-top: 2.2em;
  padding-bottom: 0.3em;
  color: $grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.form label:nth-child(odd) {
  padding-left: 0.5em;
}

.form label:nth-child(even) {
  padding-right: 0.5em;
}

.form input {
  @include block;

  font-family: $secondary-font;
  font-size: 1.2em;
  width: 100%;
  margin-top: 0.5em;
  border-radius: 0.25em;
  border: 1px solid $grey;
  padding: 0.5em;
}

.form__button-container {
  @include flex;

  justify-content: space-between;
}

.uploadButton {
  @include inline-block;

	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  padding-right: 0.5em;
}

.uploadButton + label {
  @include inline-block;

  width: 50%;
  font-size: 1.25em;
  color: white;
  background-color: #627b8b;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 1em 0.4em 1em 0em;
  text-align: center;
  text-transform: none;
  box-shadow: 0 0.2em 0 #3f515d;
}

input[type=submit] {
  @include inline-block;

  width: 50%;
  font-size: 1.25em;
  color: white;
  border: none;
  margin: 1em 0em 1em 0.4em;
  font-family: $primary-font;
  background-color: #3498db;
  box-shadow: 0 0.2em 0 #2980b9;
}

