.form {
  width: 100%;
  display: block;
}

.form label {
  color: #2c3e50;
  text-transform: uppercase;
  width: 50%;
  display: inline-block;
  padding-bottom: 0.75em;
}

.form fieldset {
  border: 0;
}

.form legend {
  width: 100%;
  border-bottom: 1px solid #b0b8bc;
  padding-top: 2.2em;
  padding-bottom: 0.3em;
  color: #b0b8bc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 1.5em;
  cursor: default;
}

.form label:nth-child(odd) {
  padding-left: 0.5em;
}

.form label:nth-child(even) {
  padding-right: 0.5em;
}

.form input {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin-top: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #b0b8bc;
  padding: 0.5em;
}

.form__button-container {
  display: flex;
  justify-content: space-between;
}

.uploadButton {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  display:inline-block;
  padding-right: 0.5em;
}

.uploadButton + label {
  width: 50%;
  font-size: 1.25em;
  color: white;
  display:inline-block;
  background-color: #627b8b;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 1em 0.4em 1em 0em;
  text-align: center;
  text-transform: none;
  box-shadow: 0 0.2em 0 #3f515d;
}

input[type=submit] {
  width: 50%;
  font-size: 1.25em;
  display: inline-block;
  color: white;
  border: none;
  margin: 1em 0em 1em 0.4em;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #3498db;
  box-shadow: 0 0.2em 0 #2980b9;
}
